* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    background-color: #141219;
}

:root {

    --gradient: linear-gradient(to right, #7286FF, #FE7587);

}

body::-webkit-scrollbar-track {
    background-color: #141219;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
}


.header {
    margin: 20px 120px 20px 120px;
    /* padding: 0px 40px; */
    max-height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #141219;
    /* max-width: 80rem; */
    /* position: sticky;  */
    /* top: 0;
    left: 0;
    right: 0; */
}


.listlinks {
    display: flex;

}


.navlinks {
    display: flex;
    list-style-type: none;
    color: #ffffff;
    min-height: 60px;
    gap: 28px;
}



.navlinkitem {
    padding-right: 8px;
    display: flex;
    align-items: center;
    gap: 2px;
    font-size: 16px;
    font-weight: 500;
}

.navCTA {
    display: flex;
    align-items: center;
    gap: 20px;
}

.secondary-cta {
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
}

.primary-cta {
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    padding: 14px 30px;
    background: var(--gradient);
    position: relative;
    border-radius: 160px;
    /* border: 3px solid #FE7587;
    border-radius: 160px ;
    border-image: linear-gradient(to right, #7286FF, #FE7587) ;
    border-image-slice: 1; */
    z-index: 2;
}

.primary-cta::before {
    content: '';
    display: block;
    width: calc(100% - calc(2px*2));
    height: calc(100% - calc(2px*2));
    background: #141219;
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 160px;
    z-index: -1;
}

/* .primary-cta:hover{
    background:#221938;
} */



.herosection {
    background-image: url(assets/Hero/Background\ \(1\).png);
    background-repeat: no-repeat;
    background-position: center;
    margin: 68px 80px 48px 80px;
}

.herotext {
    color: #ffffff;
    font-size: 60px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    justify-content: center;
    background: none;
    text-align: center;
    /* line-height: 20; */
}

.fancy-text {
    background-image: linear-gradient(to right, #7286FF, #FE7587);
    background-clip: text;
    color: transparent;
}

.supportingtext {
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 1.7;
    /* max-width: 900px; */
    /* width: 100vw; */
    margin: 30px 0px;
    background: none;
}


.heroCTA {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    background: none;
}


.sectiondivider {
    margin-left: 258px;
    margin-right: 258px;
    /* width: 924px; */
    color: #F5F5F5;
    opacity: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.trustedbrands {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.smallheader {
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
    margin-top: 32px;
    margin-bottom: 36px;
}

.brandsL1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin-bottom: 32px;
}


.brandsL2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin-bottom: 32px;
}


.brand-animation {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 48px 80px 56px 80px;
    /* margin-top: 48px; */
    /* margin-top: 48px; */
}

.animationimg {
    display: flex;
    align-items: center;
    justify-content: center;
}

.advantagesec {
    margin: 100px 272px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.leftline {
    width: 6px;
    height: auto;
    border-radius: 100px;
    background: linear-gradient(to bottom, #7286FF, #FE7587);
    /* background-color: white; */
}


.rightcontent {
    display: flex;
    flex-direction: column;
    gap: 16px;
}


.smalltitle {
    color: #7286FF;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 4px;
    text-transform: uppercase;
}


.supportingcontent {
    color: #FFFDFD;
    font-size: 24px;
    font-weight: 500;
    width: 858px;
    line-height: 48px;
}


.textonlyCTA {
    color: #7286FF;
    font-size: 26px;
    font-weight: 500;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}



.feedbackblock {
    display: flex;
    flex-direction: row;
    gap: 40px;
}



/* .customerfeedback{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 80px;
    margin-right: 80px;
} */


.globalheader {
    color: #FFFFFF;
    margin: 100px 192px 60px 192px;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    line-height: 48px;
}


.feedbacksideleft {
    margin-left: 80px;
}


.feedbackblock {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* align-self: center; */
}

.typeheader {
    color: #ffffff;
    font-size: 36px;
    font-weight: 700;
    margin-top: 18px;
    margin-bottom: 20px;
    line-height: 48px;
    width: fit-content;
}


.typesupport {
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 16px;
    line-height: 32px;
}


.clientdetails {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.clientdata {
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;

}


.gradient-cta {
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    padding: 14px 30px;
    box-sizing: border-box;
    background: var(--gradient);
    position: relative;
    border-radius: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 3px solid #FE7587;
    border-radius: 160px ;
    border-image: linear-gradient(to right, #7286FF, #FE7587) ;
    border-image-slice: 1; */
    z-index: 2;
    max-width: 327px;
    margin-top: 40px;
}

.gradient-cta::before {
    content: '';
    display: block;
    width: calc(100% - calc(2px*2));
    height: calc(100% - calc(2px*2));
    background: #141219;
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 160px;
    z-index: -1;
}


.allfeedbacks {
    display: flex;
    flex-direction: column;
    /* gap: 100px; */
    margin-bottom: 100PX;
    gap: 100PX;
}

.feedbackleftimage {
    margin-left: 80px;
}

.feedbacksideright {
    margin-right: 138px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.feedbackrightimage {
    margin-right: 138px;
}


.feedbackrow1 {
    display: flex;
    align-items: start;
    justify-content: flex-start;
    margin: 0px 80px 20px 80px;
    gap: 24px;
    /* height: auto; */
}

.feedbackrow2 {
    display: flex;
    align-items: start;
    justify-content: flex-start;
    margin: 0px 80px 100px 80px;
    gap: 24px;
    /* height: auto; */
}

/* .toplayergradient{
    height: 4px;
    width: auto;
    background: linear-gradient(to right, #7286FF,#FE7587);
    z-index: 10;
    border-radius: 12px 12px 0px 0px;
    position: absolute;

} */

.feedbackcard {
    background-color: #1B1724;
    box-sizing: border-box;
    padding-top: 38px;
    padding-bottom: 48px;
    padding-left: 28px;
    padding-right: 28px;
    border-radius: 12px;
    border: 1px solid #322E3A;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 291px;
    /* z-index: 5; */
    /* height: auto; */
    /* width: auto; */
    /* gap: 24px; */
}

.hedadericon {
    background: none;

}

.cardheader {
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    background: none;
    padding-top: 20px;
    padding-bottom: 12px;
}

.carddescription {
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    background: none;
    line-height: 32px;
}

.integrationblock {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 100px 0px 100px 80px;
}



.gradient-ctaintegration {
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    padding: 14px 30px;
    box-sizing: border-box;
    background: var(--gradient);
    position: relative;
    border-radius: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    /* border: 3px solid #FE7587;
    border-radius: 160px ;
    border-image: linear-gradient(to right, #7286FF, #FE7587) ;
    border-image-slice: 1; */
    z-index: 2;
    max-width: 327px;
    margin-top: 40px;
}

.gradient-ctaintegration::before {
    content: '';
    display: block;
    width: calc(100% - calc(2px*2));
    height: calc(100% - calc(2px*2));
    background: #141219;
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 160px;
    z-index: -1;
}


.securityblock {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 100px 80px 100px 0px;
}

.typeheadersec {
    color: #ffffff;
    font-size: 36px;
    font-weight: 700;
    margin-top: 18px;
    margin-bottom: 20px;
    line-height: 48px;
    width: fit-content;
}

.feedbacksecimage {
    margin-right: 0px;
}